<div id="loader" style="display:none; position:fixed; inset:0; background:rgba(0,0,0,.5); z-index:9999; justify-content:center; align-items:center;" >

    <div style="background:white; padding:20px; border-radius:10px; width:300px; text-align:center;">
        <p>Subiendo productos...</p>

        <progress id="progressBar" value="0" max="100" style="width:100%"></progress>

        <span id="progressText">0%</span>
    </div>

</div>